{% extends 'base.html' %}

{% block body %}
<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Login Now</h3>
                        <form class="p-3" method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-outline-primary btn-block">
                                Login
                            </button>
                        </form>
                </div>
            </div>
        </div>
        <div class="row mt-2 p-2 justify-content-center">
            <p>New to DramScripts?? <a href="{% url 'signup' %}">Click here to register</a></p>
        </div>
    </div>
</section>
{% endblock body %}