{% extends 'base.html' %}

{% block body %}

<!--================================
=            Page Title            =
=================================-->
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>Contact Us</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<!-- page title -->

<!-- contact us start-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-us-content p-4">
{#                    <h5>Contact Us</h5>#}
                    <h1 class="pt-3">Hello, what's on your mind?</h1>
                    <p class="pt-3 pb-5">Reach us from anywhere around the world.</p>
                </div>
            </div>
            <div class="col-md-6">
                <form class="p-3" method="post">
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <div class="loggedin-forgot d-inline-flex my-3">
                                        <input type="checkbox" id="registering" class="mt-1" required>
                                        <label for="registering" class="px-2">By contacting us, you accept our <a class="text-primary font-weight-bold" href="#">Terms & Conditions</a></label>
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-block">
                                Contact Us
                            </button>
                        </form>
            </div>
        </div>
    </div>
</section>
<!-- contact us end -->

{% endblock body %}