{% extends 'dashboard.html' %}

{% block content %}
<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
        <!-- Recently Favorited -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="align-item-center">
                        <div class="border">
                            <h3 class="bg-gray p-4">Upload Script</h3>
                            <form class="p-3" method="post" novalidate enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-outline-primary btn-block">
                                Upload
                            </button>
                        </form>
{#                            <form action="#">#}
{#                                <fieldset class="p-4">#}
{#                                    <input type="text" placeholder="Script Title*" class="border p-3 w-100 my-2" required>#}
{#                                    <input type="file" class="form-control-file p-3 w-100 my-2" accept=".txt" required>#}
{#                                    <button type="submit" class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Upload</button>#}
{#                                </fieldset>#}
{#                            </form>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>
{% endblock content %}