{% extends 'dashboard.html' %}

{% block content %}

    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
        <!-- Recently Favorited -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="YourPart">
                        <div class="border">
                            <h3 class="bg-gray p-4 text-center">Your Part?</h3>
                            <form class="p-3" method="post" novalidate enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn btn-outline-primary btn-block">
                                Play &nbsp; <i class="fa fa-play"></i>
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>

{% endblock content %}